html
<head>
<body>
Name:<input type="text"> 
<center></center>
<br>

Father Name:<input type="text"> 
<center></center>
<br>

Date of Birth:<input type="date"> 
<center></center>
<br>
Email:<input type="email"> 
<center></center>
<br>
Phone number:<input type="number"> 
<center></center>
<br> 
<br>
city name:<input type = 'text'>
<select>
  <option value="Hyderbad">Hyderbad</option>
  <option value="London">london</option>
  <option value="Manchester">Manchester</option>
  <option value="">California</option>
</select>
<br>
<br>
Skill set:
<select>
    <option value=””>Java</option>
    <option value=””>Devops</option>
    <option value=””>microsoft Azure</option>
    </select>
<center></center>
<form ... onsubmit="return checkForm(this);">
...
<p><input type="checkbox" required name="terms"> I accept the <u>Terms and Conditions</u></p>
<p><input type="submit"></p>
</form>
<input type="button" value="submit"/>

</head> </body> </html>
